<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body>
  <form method="POST" action="/reach_out" enctype = "multipart/form-data">
	  <label for="myfile">song:</label>
	  <input type="file" id="song" name="song"><br><br>
	  <label for="myfile">image:</label>
	  <input type="file" id="image" name="image"><br><br>
	  <label for="myfile">lyrics:</label>
	  <input type="file" id="ly" name="ly"><br><br>
	  <label for="myfile">background color:</label>
	  <input type="text" id="back" name="back"></input>
	  <label for="myfile">song name:</label>
	  <input type="text" id="font" name="font"></input>
	  <input type="submit">
  </form>
</body>
</html>